{% extends "plantillainicio.html" %}

{% block contenido %}
<!-- Hero Section -->
<section class="hero bg-dark text-white text-center py-5" style="background-image: url('/static/img/cotopaxi.jpg'); background-size: cover; background-position: center; background-attachment: fixed; height: 500px;">
    <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold mb-3">Bienvenidos a la Compañia de Transporte</h1>
            <p class="lead mb-4">Disfruta de viajes comodos y seguros.</p>
            <a href="/Horario/listado_horariosp" class="btn btn-light btn-lg shadow-lg px-4 py-2 rounded-pill" style="font-size: 1.2rem;">Ver Horarios</a>
        </div>
    </div>
</section>
{% endblock %}
